@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');

@font-face {
  font-family: 'Meslo';
  src: url('https://docs.pmnd.rs/fonts/meslo.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

html,
body,
#root,
.container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

html,
body,
button,
input,
textarea,
select {
  font-family:
    'Pretendard Variable',
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    'Helvetica Neue',
    'Segoe UI',
    'Apple SD Gothic Neo',
    'Noto Sans KR',
    'Malgun Gothic',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
html {
  margin: 0;
  padding: 0;
  /* overflow: hidden; 👈 범인 검거! 과감하게 삭제하거나 주석 처리! */
}
a {
  color: black;
}

a {
  pointer-events: all;
  color: black;
  text-decoration: none;
}

svg {
  fill: black;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

canvas {
  opacity: 0;
  touch-action: none;
  animation: fade-in 5s ease 0.5s forwards;
}
/* 웹킷 기반 브라우저(크롬, 사파리, 엣지 등)에서 스크롤바 디자인 숨기기 */
::-webkit-scrollbar {
  display: none; /* 스크롤 기능은 작동하지만 눈에는 안 보임! */
}

/* 파이어폭스 등 기타 브라우저 대응 */
html {
  scrollbar-width: none;
}